<script type="application/json" id="bootstrapped_posts_json">
  { "posts": <%= Post.all.to_json.html_safe %> }
</script>

<script>
  var postObjects = JSON.parse($("#bootstrapped_posts_json").html()).posts;
  Journal.posts = new Journal.Collections.Posts(postObjects);

  $(document).ready(function () {
    Journal.initialize();
  });
</script>


<h1> MICKEY AND PARIS'S JOURNAL!!! </h1>

<div id="container">
  <sidebar id="index"></sidebar>
  <section id="content"></section>
</div>